$module: 		'form';

.#{$module} {
	text-align: left;
	margin: 0 auto em(30);
	width: 100%;
	background-color: rgba(black,0.1);
	padding: em(20);

	&__control {
		display: block;
		margin-bottom: em(20);
	}

	&__input {
		padding: em(5);
		outline: 0;
		width: 100%;
	}
}