$module: 		'outerwrap';

.#{$module} {
	height: 100vh;
	display: flex;
	justify-content: center;
	text-align: center;
	opacity: random(255);
	background-color: $color3;
	flex-flow: column wrap;
	color: white;
	padding: em(20);

	&--admin {
		@extend .#{$module};
		min-height: 100vh;
		height: auto;
		text-align: left;
	}
}