$module: 		'phrasebook';

.#{$module} {
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: em(20);
		background-color: rgba(black,0.1);
		padding: em(10);
	}

	&__values {
		padding-right: em(20);
		width: calc(100% - #{em(150)});
	}

	&__value {
		$fz: 14;
		display: block;
		font-size: em($fz);
		margin-bottom: em(10,$fz);
		width: 100%;
		background-color: transparent;
		color: white;
		border: 0;
		border-bottom: 1px solid rgba(white,0.3);
		padding: em(5,$fz);
		box-shadow: 0;
		outline: 0;
	}

	&__image {
		max-width: em(150);
		max-height: em(150);
		height: auto;
		width: auto;
		margin-left: auto;
	}
}